#first-block{
    background-image: url("top1.jpg");
    width: 100%;
    height: 880px;
    background-size: cover;
}

.top-block{
    font-size: 120px;
   
    font-family: "Slackside One", cursive;
    color:rgb(0, 0, 0);
    padding-top: 100px;
    padding-left: 200px;
    
}

